language: python
python:
  - "2.7"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y g++
  - sudo apt-get install -y unzip
  #- sudo dpkg -i install/unixodbc_2.3.2-1_amd64.deb
  - unzip install/sqlncli-11.0.1790.0.zip
  - sudo bash sqlncli-11.0.1790.0/install.sh install --accept-license --force
script: python test.py